<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Devouring TIME!{{else}}Put in que for ordering later.{{/if}}
	</button>


</li>
